// Global default params, used in configs
params {

    // Input options
    input                      = null
    index                      = null

    // Boilerplate options
    outdir                     = './results'
    enable_conda               = true

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

}

profiles {
    laptop       { includeConfig 'conf/laptop.config'   }
    chia         { includeConfig 'conf/chia.config'     }
}